@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Roboto&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background-color: #e9cf5ce9;
}

main {
    padding: 16px;
    text-align: center;
}

main h2 {
    padding: 0px;
    margin-bottom: 3px;
}
footer {
    margin-top: 200px;
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 18px;
    border-radius: 5px;
    background-color: #b03e24d7;
}

img {
    height: 200px;
    border: 1px solid;
    box-shadow: 1px 1px 3px 3px #b03e24d7;;
}

img:hover {
    box-shadow: 1px 1px 3px 3px green;;
}

nav {
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    padding: 16px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #b03e24d7;

}

nav a {
    color: rgba(233, 207, 92, 0.914);
    border: 4px solid #e9cf5ce9;
    border-radius: 8px;
    padding: 5px
}

nav a:hover {
    box-shadow: 1px 1px 3px 3px green;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
    cursor: pointer;
}

#heading h1{
    /* text-align: center; */
    color: rgba(176, 62, 36, 0.844);
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Cinzel Decorative', cursive;
}

#heading>h2 {
    /* text-align: center; */
    color: rgba(176, 62, 36, 0.844);
    padding-top: 0px;
    margin-top: 2px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 18px;
}

table {
    /* text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 5px solid rgba(176, 62, 36, 0.844);
    border-collapse:separate;
    border-radius: 10px; */
    table-layout: fixed;
    width: 300px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
      }

tr:nth-child(even){
    background-color: #e7a06a;
    }

td {
    border-radius: 10px;
    padding-right: 5px;
    }

th {
    font-size: 20px;
    border-bottom: 1px solid black;
}

#step-list {
    width: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    padding-top: 0px;
    align-content: left;
}

ol {
    list-style-type: none;
    text-align: left;
    padding: 2px;
    font-size: 18px;
}

li:nth-child(even){
    background-color: #e7a06a;
    border-radius: 10px;
    padding-right: 5px;
    }

#step-list h2 {
    text-align: center;
    border-bottom: 1px solid black;
}


#recipes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: auto;

}

#recipes-grid h3 {
    margin-bottom: 5px;
}

#stars {
    font-size: 20px;
}

div>h3 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

main>h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}
